/*style goes here*/
body {
    background-color: #ededed;
    margin:0;
}

#scrollUp {
    background-color: #192128;
    color:#828C96;
}

#map {
    height: 900px;
    background-color: #192128;
}

/*#map-wrapper > p {*/
    /*font-size: 1.2em;*/
    /*margin-top: -75px;*/
    /*padding-top: 75px;*/
    /*margin-top:10px;*/

/*}*/

#map-description {
    margin-top: 0px;
    padding-bottom: 20px;
    padding-top: 0px;
    font-size: 16px;
    clear: both;
    font-family: opensans_regular;
}

#map-title {
    font-weight: bold;
}

#logos {
    text-align:center;
}

footer {
    padding:30px;
}

#footer-divider {
    width:700px;
    background-color: lightgrey;
    height: 3px;
    color: transparent;
    margin-top:40px;
    clear: right;
}

#author {
    width: 700px;
    text-align: right;

}

#project-description {
    width: 700px;
    font-weight: normal;
    font-size: 16px;
    font-family: opensans_regular;
    text-align: justify;
    margin: 0 auto;
}

#project-license {
    float:right;
    margin: 5px;
}

#main-article {
    display: block;
    padding-top: 75px;
    margin: 0px auto;
    font-size:16px;
    line-height: 26px;
    width: 700px;
    text-align: justify;
    font-family: opensans_regular;
}


.share-buttons {
    float: right;
    padding-right:20px;
}

.share-buttons img {
    width: 30px;
    display: inline;
    padding-right: 5px;
}

.share-link{
    padding: 0px;
}


/*#main-content {*/
    /*display: block;*/
    /*width: 700px;*/
    /*text-align: center;*/
    /*margin:0px auto;*/
/*}*/

.center-block {
    display: block;
    margin: 0px auto;
    font-size:16px;
    line-height: 26px;
    width: 700px;
    text-align: justify;
    font-family: opensans_regular;

}

.subtitle {
    text-align: center;
    padding-top:50px;
    margin-top: -40px;
    font-family: opensans_regular;
    font-weight: normal;
    font-style: normal;
    clear:both;
}

#header-image {
    position: relative;
    top:0px;
    width: 100%;
    height: 100%;
}

#header-text-container {
    position: absolute;
    top:0px;
    width: 100%;
}


#header-title {
    color:white;
    text-align: center;
    font-size: 56px;
    letter-spacing: 5px;
    font-family: opensans_light;
    font-weight: normal;
    font-style: normal;
}

#header-subtitle {
    color:#828C96;
    margin-top: -30px;
    text-align: center;
    font-size: 20px;
    font-family:opensans_regular;
    font-weight: normal;
    font-style: normal;
}

#header-arrow {
    margin-top:-30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#article-title {
    margin-top: -120px;
    padding-top: 150px;

}
#minimap {
    padding: 10px;
}


h2 {
    font-family: opensans_regular;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
}

.inline-image {
    /*width: 800px;*/
    display: inline-block;
    width: 100%;

}

/*#minimap > a {*/
/*position: relative;*/
/*padding-right: 10px;*/
/*}*/
a {
    text-decoration: none;
}
nav{
    position: fixed;
    top:0px;
    width: 100%;
    background-color: #192128;
    opacity: 0;
    z-index: 5000;
    height: 40px;
    display: table;
}

nav ul {
    display: table-cell;
    vertical-align: middle;
}

nav li:first-child{
    display:inline;
    color: white;
    font-size: 20px;
    font-family: opensans_semibold;
    font-weight: normal;
    font-style: normal;
}

nav li{
    display:inline;
    color: #828C96;
    font-size: 16px;
    font-family: opensans_semibold;
    font-weight: normal;
    font-style: normal;
}

nav a{
    display:inline-block;
    padding: 0px 50px 0px 5px;
    text-align: center;
    vertical-align: middle;
    color: inherit;
    text-decoration: none;
}

a {
    outline: 0;
}


footer li {
    display: inline;
    list-style: none;

}

nav a:hover {
    color:white;
}

article > header > h1 {
    text-align: center;
}

.right-quote{
    position: absolute;
    margin-left: 50%;
    /*margin-right: 10%;*/
    font-size: 1.4em;
    font-family: open-sans-light;
    font-style: italic;
}

.center-quote{
    /*display: inline-block;*/
    /*position: relative;*/
    /*font-size: 16px;*/
    /*padding:20px 0px 20px 0px;*/
    font-style: italic;
    /*font-weight: normal;*/
}

.left-quote{
    position: absolute;
    font-size: 1.4em;
    font-family: open-sans-light;
    font-style: italic;
    margin-right: 80%;
    margin-left: -20%;
    /*display: inline-block;*/
}
#sidebar {
    height: 100%;
    width: 100%;
    background-color: #42474A;
    opacity: 1;
    color: white;
    box-sizing: border-box;
    font-family: opensans_light;
}

#piechart {
    overflow: auto;
}

#graph {
    position:relative;
    bottom: 0;
    opacity: 1;
    background: none repeat scroll 0 0 transparent;
    color: #FFF;
    overflow: visible;
    font-family:Arial;
    font-weight: normal;
    font-style: normal;
}

/*override some sidebar styles*/
.leaflet-sidebar {
    width: 460px;
    padding:0;
}

.leaflet-sidebar > .leaflet-control {
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
}

.leaflet-container p {
    font-size: 16px;
}

.leaflet-popup-content-wrapper {
    background-color: #3b3f41;
}
.leaflet-popup-content {
    color:white;
    text-align: center;
    padding: 3px 6px 3px 6px;
    margin: 0;
}

.leaflet-popup-tip {
    background-color: #3b3f41;
    border:0;
}


.leaflet-sidebar.right {
    right: -600px;
}

.summary-total {
    font-weight: bold;
    color: white;
    background-color: #1d2f38;
    line-height: 10px;
    padding-left: 40px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.summary-year {
    font-weight: normal;
    color: rgba(200, 200, 200, 1);
}

.analitika-title {
    color: rgba(200, 200, 200, 1);
    height: 20px;
}

p.analitika-title.sidebar-details-content {
    font-size:20px;

}

.details-title {
    color:white;
    font-weight: bold;
}

.details-date {
    color:rgba(200, 200, 200, 1);
}

.details-desc {
    color: rgba(200, 200, 200, 1);
}

.horizontal-divider {
    background-color: rgba(200, 200, 200, 1);
    height: 3px;
    opacity: 0.2;
}

.sidebar-details-content {
    padding-left: 35px;
}

.sidebar-content {
    padding-left: 5px;
}

.axis-label{
    text-anchor:middle;
    stroke:white;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
    opacity: 0.4;
}


.graph-dot {
    fill:#F9BA6A;
}

.grid .tick {
    stroke: lightgrey;
    stroke-width:1;
    stroke-opacity: 0.1;
}

.grid path {
    stroke-width: 0;
}


path {
    stroke: #F9BA6A;
    stroke-width: 3;
    opacity: 1;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


.close {
    display: none;
}

.marker {
    stroke:black;
}

.animated-circle {
    stroke:black;
}

#button-wrapper {
    opacity: 0;
    position: absolute;
    top: 30px;
    margin-left: 50px;
    width: 170px;
    height:25px;
    align-content: center;
    border-radius: 10px;
    background-color: #42474A;
    color: white;
    display: none;
}

.icon {
    background-image: url("../images/Date_icon.png");
    float: left;
    display: none;
}

#btn-timelapse {
    opacity: 1;
    background: transparent;
    border: none !important;
    color: white;
    font-weight: bold;
    height:25px;
    float:left;
}


.donut {
    stroke:black;
    stroke-width:1;
    fill-opacity: 0.4;
}
@font-face {
    font-family: roboto_bold_condensend;
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: roboto_medium;
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: roboto_light;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: opensans_regular;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: opensans_light;
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: opensans_semibold;
    src: url('../fonts/OpenSans-Semibold.ttf');
}